manifest {
    name = 'TranscriptForge'
    author = 'TranscriptForge contributors'
    description = 'Reproducible human transcriptomics workflows'
    version = '0.1.0'
    nextflowVersion = '>=25.04.0'
}

includeConfig 'conf/base.config'

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
}
