docker.enabled = false
params.classifier_cpus = (System.getenv('TRANSCRIPTFORGE_CLASSIFIER_CPUS') ?: '8') as Integer
process.executor = 'local'
process.cpus = 1
process.memory = 1.GB
process.time = 30.m
process {
    withLabel: process_classifier {
        cpus = { params.classifier_cpus }
        memory = 16.GB
        time = 12.h
    }
}
timeline.enabled = false
report.enabled = false
trace.enabled = false
dag.enabled = false
